<!DOCTYPE html>
<html>
<body>

<h1 style="color:black;">Find your new faves!</h1>

<iframe src={{rec1}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src={{rec2}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src={{rec3}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src={{rec4}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src={{rec5}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src={{rec6}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src={{rec7}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src={{rec8}} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</body>
</html>