/* screen - desktop-1 */

.desktop-1 {
  align-items: flex-start;
  background-color: rgba(255,255,255,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1298px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1094px;
}
.desktop-1 .aris-recommended-4eduM0 {
  background-color: transparent;
  height: 40px;
  left: 341px;
  position: absolute;
  top: 90px;
  width: 453px;
}
.desktop-1 .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 31px;
  justify-content: flex-start;
  margin-left: 15.58px;
  margin-top: 4px;
  min-width: 394px;
  position: relative;
  width: auto;
}
.desktop-1 .number-of-the-b-ast-iron-maiden-4eduM0 {
  background-color: transparent;
  height: 24px;
  left: 427px;
  position: absolute;
  top: 274px;
  width: 473px;
}
.desktop-1 .number-of-the-b-ast-iron-maiden-6sb1qn {
  background-color: transparent;
  height: 24px;
  left: 443px;
  position: absolute;
  top: 858px;
  width: 473px;
}
.desktop-1 .number-of-the-b-ast-iron-maiden-BJQsbv {
  background-color: transparent;
  height: 24px;
  left: 427px;
  position: absolute;
  top: 586px;
  width: 473px;
}
.desktop-1 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1195px;
  margin-left: 0.12px;
  margin-top: 4px;
  position: relative;
  width: 1094px;
}
.desktop-1 .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 51px;
  margin-left: 0.25px;
  position: relative;
  width: 1087px;
}
.desktop-1 .recommend-me-indie-RH0WJ5 {
  background-color: transparent;
  height: 24px;
  left: 433px;
  position: absolute;
  top: 14px;
  width: 274px;
}
.desktop-1 .rectangle-1-C61RwL {
  background-color: rgba(39,229,92,1.0);
  flex-shrink: 1;
  height: 12px;
  margin-left: 0.25px;
  margin-top: 0px;
  position: relative;
  width: 1087px;
}
.desktop-1 .rectangle-2-RH0WJ5 {
  background-color: rgba(196,196,196,1.0);
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1087px;
}
.desktop-1 .screen-shot-202-04-18-at-709-1-4eduM0 {
  background-color: transparent;
  height: 226px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 484px;
  width: 226px;
}
.desktop-1 .screen-shot-202-04-18-at-710-1-4eduM0 {
  background-color: transparent;
  height: 226px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 768px;
  width: 226px;
}
.desktop-1 .vector-7crjq3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-bottom: 0.0px;
  margin-left: 23px;
  position: relative;
  width: 28px;
}
.desktop-1 .vector-EDxlGj {
  background-color: transparent;
  flex-shrink: 1;
  height: 31px;
  margin-left: 22px;
  position: relative;
  width: 31px;
}
.desktop-1 .vector-Ie9Mvc {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-bottom: 0.0px;
  margin-left: 23px;
  position: relative;
  width: 25px;
}
.desktop-1 .vector-U4Yp1F {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-bottom: 0.0px;
  margin-left: 22px;
  position: relative;
  width: 29px;
}
.desktop-1 .vector-Xi618D {
  background-color: transparent;
  flex-shrink: 1;
  height: 27px;
  margin-bottom: 1.7px;
  margin-left: 22px;
  position: relative;
  width: 26px;
}
.desktop-1 .vector-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 27px;
  margin-bottom: 1.7px;
  position: relative;
  width: 32px;
}
.desktop-1 .vector-fcKxdx {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-bottom: 0.0px;
  margin-left: 23px;
  position: relative;
  width: 30px;
}
.desktop-1 .vector-ycScJA {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-bottom: 0.0px;
  margin-left: 22px;
  position: relative;
  width: 32px;
}
.desktop-1 .x220px-iron-maid-mber-of-beast-1-4eduM0 {
  background-color: transparent;
  height: 226px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 201px;
  width: 226px;
}
.desktop-1 .x220px-iron-maid-mber-of-beast-3-4eduM0 {
  background-color: transparent;
  height: 226px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 768px;
  width: 226px;
}
.desktop-1 .x40103092762b52a07ea04b-1-4eduM0 {
  background-color: transparent;
  height: 1195px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1094px;
}
